@import "@/assets/scss/tools/variables.css";

.main-white { background: var(--color-white); }
.main-black { background: var(--color-black); }
.main-purple { background: var(--color-purple); }
.main-green { background: var(--color-green); }
.main-dark-purple { background: var(--color-dark-purple); }
.main-light-purple { background: var(--color-light-purple); }
.main-pink { background: var(--color-pink); }

.main-white-text { color: var(--color-white); }
.main-black-text { color: var(--color-black); }
.main-purple-text { color: var(--color-purple); }
.main-green-text { color: var(--color-green); }
.main-dark-purple-text { color: var(--color-dark-purple); }
.main-light-purple-text { color: var(--color-light-purple); }
.main-pink-text { color: var(--color-pink); }

.main-white-border { border-color: var(--color-white); }
.main-black-border { border-color: var(--color-black); }
.main-purple-border { border-color: var(--color-purple); }
.main-green-border { border-color: var(--color-green); }
.main-dark-purple-border { border-color: var(--color-dark-purple); }
.main-light-purple-border { border-color: var(--color-light-purple); }
.main-pink-border { border-color: var(--color-pink); }
